node_modules/
carpooling/node_modules/
backend/node_modules/
.env
build/
dist/backend/firebase-service-account.json
backend/service-account*.json
backend/firebase-service-account.json
backend/service-account*.json
